In [23]:
import pandas as pd
import datetime

pressure = pd.read_csv("datasets/barometric.csv")
humidity = pd.read_csv("datasets/humidities.csv")
precip = pd.read_csv("datasets/precipitation.csv")


pressure.drop(pressure.columns[[0,4,6,7,8,9,11,12]], 1, inplace=True)
#humidity.drop(humidity.columns[[0,4,6,7,8,9,11]], 1, inplace=True)
precip.drop(precip.columns[[0,4,6,7,8,9,10,12,13,14,15,16,17,18,19]], 1, inplace=True)

#humidity.head()
precip.head()

,site_name,latitude,longitude,measured_on,precipitations:snowfall accumulation flag,precipitations:vis total liquid equivalent
0,SDE Atmosphere Test Site,32.37862,-86.29727,2016-10-14,NaN,NaN
1,"Atmosphere, behind the Middle School:ATM-02",40.03820,-105.06689,2014-11-17,NaN,NaN
2,ALC:ATM-01,35.47711,-82.99928,2013-10-29,NaN,0.0
3,Exhibitions Rooftop,40.78180,-73.97430,2016-12-15,NaN,0.0
4,Exhibitions Rooftop,40.78180,-73.97430,2016-12-16,NaN,0.0

In [25]:

def convertime(data):
    data['month'] = 0
    data['year'] = 0
    for index, row in data.iterrows():
        year = (row[3])[:4]
        month = (row[3])[5:7]
        data.set_value(index, 'year', year)
        data.set_value(index, 'month', month)
    return data

pressure.drop(3)
pressure = convertime(pressure)

pressure.info()
pressure.head()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45956 entries, 0 to 45955
Data columns (total 7 columns):
 site_name                                      45956 non-null object
 latitude                                       45956 non-null float64
 longitude                                      45956 non-null float64
 measured_on                                    45956 non-null object
barometric pressure noons:sea level pressure    45937 non-null float64
month                                           45956 non-null int64
year                                            45956 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 2.5+ MB

,site_name,latitude,longitude,measured_on,barometric pressure noons:sea level pressure,month,year
0,SDE Atmosphere Test Site,32.37862,-86.29727,2016-10-14,1022.0,10,2016
1,FLDRIP @ ACCF Surface Temp,42.92170,-123.29935,2017-03-09,1056.0,3,2017
2,FLDRIP @ ACCF Surface Temp,42.92170,-123.29935,2017-03-16,1061.2,3,2017
3,FLDRIP @ ACCF Surface Temp,42.92170,-123.29935,2017-03-20,1047.3,3,2017
4,FLDRIP @ ACCF Surface Temp,42.92170,-123.29935,2017-04-27,1058.8,4,2017